name: Daily Test Run

on:
  #schedule:
  #  - cron: '0 9 * * *'  # runs daily at 9 AM UTC
  workflow_dispatch:

 
jobs:
  gst-uae-tests:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.2-noble

    permissions:
      contents: read
      issues: write 

    env:
        USERNAME: ${{ secrets.USERNAME }}
        PASSWORD: ${{ secrets.PASSWORD }}
        BOT_USERNAME: ${{ secrets.BOT_USERNAME }}
        BOT_PASSWORD: ${{ secrets.BOT_PASSWORD }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Playwright
        run: npm ci --ignore-scripts 
        
      - name: Run Playwright tests in Docker
        run: npx playwright test 
        
      - name: Parse report (JS version)
        id: parse
        if: ${{ always() }}
        run: node utilities/parse-report.js

      - name: Send Email with HTML Reports
        if: ${{ always() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.BOT_USERNAME }}
          password: ${{ secrets.BOT_PASSWORD }}
          subject: "[COVORO UAE DEMO] Daily Sanity Test Report - Passed: ${{ steps.parse.outputs.passed }}, Failed: ${{ steps.parse.outputs.failed }}, Skipped: ${{ steps.parse.outputs.skipped }}"
          body: |
            
            Hi Team,

            Please find the summary of test execution below and find the attached report for more details:
            Environment: COVORO UAE

            Playwright Execution Summary:
            ---------------------------------
            Passed: ${{ steps.parse.outputs.passed }}
            Failed: ${{ steps.parse.outputs.failed }}
            Skipped: ${{ steps.parse.outputs.skipped }}
            
            View full run: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}

          to: murali.ambekar@perennialsys.com
          cc:  
          from: ${{ secrets.BOT_USERNAME }}
          attachments:

